.button {
    font-size: 25px;
    padding: 8px 12px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;
    z-index: 2;
}

.button:hover {
    background: white;
    background-position: center;
    background-size: contain;
    text-shadow: 1px 1px 1px black;
    color: rgb(223, 0, 0);
}


/* MEDIAQUERIES */

@media only screen and (max-width:992px) {

    .button {
        font-size: 22px;
    }
}

@media only screen and (max-width:768px) {
    .button {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .button {
        font-size: 16px;
    }
}